name: Build & Deploy React Docker

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image to HUB
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/react-frontend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/react-frontend:${{ github.sha }}
          context: ./frontend       # <-- path to your frontend folder
          file: ./frontend/Dockerfile   # <-- exact path to Dockerfile

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/react-frontend:latest
            docker stop frontend || true
            docker rm frontend || true
            docker run -d \
              --name frontend \
              -p 80:80 \
              --restart always \
              ${{ secrets.DOCKERHUB_USERNAME }}/react-frontend:latest
